apiVersion: v1
kind: Secret
metadata:
  name: pbench-ssh
  namespace: scale-ci-tooling
type: Opaque
data:
  authorized_keys: {{pbench_ssh_public_key_file_slurp['content']}}
  id_rsa: {{pbench_ssh_private_key_file_slurp['content']}}
  id_rsa.pub: {{pbench_ssh_public_key_file_slurp['content']}}
