apiVersion: batch/v1
kind: Job
metadata:
  name: scale-ci-{{workload_job}}
  labels:
    name: scale-ci-workload
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 0
  template:
    metadata:
      name: scale-ci-workload
    spec:
      restartPolicy: Never
{% if workload_job == "nodevertical" %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: nodevertical
                operator: DoesNotExist
{% endif %}
{% if workload_job == "pvcscale" %}
      serviceAccountName: useroot
{% endif %}
{% if workload_job_privileged| bool %}
      serviceAccountName: useroot
      hostNetwork: true
{% endif %}
      containers:
      - name: scale-ci-workload
        image: "{{workload_image}}"
        imagePullPolicy: Always
        securityContext:
          privileged: {{workload_job_privileged}}
        command:
        - /root/workload/run.sh
        volumeMounts:
        - name: workload-script
          mountPath: /root/workload/
        - name: kubeconfig
          mountPath: /root/.kube
        - name: pbench-config
          mountPath: /opt/pbench-agent/config/
        - name: pbench-ssh
          mountPath: /root/.ssh/authorized_keys
          subPath: authorized_keys
        - name: pbench-ssh
          mountPath: /root/.ssh/id_rsa
          subPath: id_rsa
        - name: pbench-ssh
          mountPath: /root/.ssh/id_rsa.pub
          subPath: id_rsa.pub
        - name: pbench-ssh
          mountPath: /.ssh/authorized_keys
          subPath: authorized_keys
        - name: pbench-ssh
          mountPath: /.ssh/id_rsa
          subPath: id_rsa
        - name: pbench-ssh
          mountPath: /.ssh/id_rsa.pub
          subPath: id_rsa.pub
{% if workload_job != "scale" and workload_job != "prometheus-scale" and workload_job != "baseline" and workload_job != "http" and workload_job != "test" %}
    {% if azure_auth| bool %}
        - name: azure-auth
          mountPath: /tmp/azure_auth
          subPath: azure_auth
    {% endif %}
{% endif %}
        - name: unprivileged-ssh
          mountPath: /.ssh
        - name: pbench-ssh
          mountPath: /opt/pbench-agent/id_rsa
          subPath: id_rsa
        - name: pbench-results
          mountPath: /var/lib/pbench-agent
{% if enable_pbench_agents| bool %}
        - name: ocp-volumes
          mountPath: /var/lib/kubelet/pods
        - name: proc-mount
          mountPath: /proc_host
{% endif %}
        env:
        - name: OCP_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: OCP_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
{% if enable_pbench_agents| bool %}
        ports:
        - containerPort: 2022
{% endif %}
        envFrom:
        - configMapRef:
            name: scale-ci-workload-{{workload_job}}-env
      volumes:
      - name: workload-script
        configMap:
          name: scale-ci-workload-script
          defaultMode: 0744
      - name: kubeconfig
        secret:
          secretName: kubeconfig
      - name: pbench-config
        configMap:
          name: scale-ci-pbench-config
      - name: pbench-ssh
        secret:
          secretName: pbench-ssh
          defaultMode: 0600
{% if workload_job != "scale" and workload_job != "prometheus-scale" and workload_job != "baseline" and workload_job != "http" and workload_job != "test" %}
    {% if azure_auth| bool %}
      - name: azure-auth
        secret:
          secretName: azure-auth
    {% endif %}
{% endif %}
      - name: unprivileged-ssh
        emptyDir: {}
{% if enable_pbench_agents| bool %}
      - name: pbench-results
        hostPath:
          path: /var/lib/pbench-agent
      - name: ocp-volumes
        hostPath:
          path: /var/lib/kubelet/pods
      - name: proc-mount
        hostPath:
          path: /proc
{% else %}
      - name: pbench-results
        emptyDir: {}
{% endif %}
{% if workload_job_node_selector %}
      nodeSelector:
        node-role.kubernetes.io/workload: ""
{% endif %}
{% if workload_job_taint| bool %}
      tolerations:
      - key: "role"
        value: "workload"
        operator: "Equal"
        effect: "NoSchedule"
{% endif %}
