apiVersion: v1
kind: ConfigMap
metadata:
  name: scale-ci-workload-{{workload_job}}-env
data:
  ENABLE_PBENCH_AGENTS: "{{enable_pbench_agents|bool|lower}}"
{% if workload_job == "http" %}
{% for v in http_env_vars %}
  {{ v }}: "{{ lookup('env', v) }}"
{% endfor %}
{% elif workload_job == "mastervertical" %}
  PBENCH_INSTRUMENTATION: "{{pbench_instrumentation|bool|lower}}"
  ENABLE_PBENCH_COPY: "{{enable_pbench_copy|bool|lower}}"
  MASTERVERTICAL_TEST_PREFIX: "{{mastervertical_test_prefix}}"
  MASTERVERTICAL_CLEANUP: "{{mastervertical_cleanup}}"
  MASTERVERTICAL_BASENAME: "{{mastervertical_basename}}"
  MASTERVERTICAL_PROJECTS: "{{mastervertical_projects}}"
  EXPECTED_MASTERVERTICAL_DURATION: "{{expected_mastervertical_duration}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
{% elif workload_job == "network" %}
  NETWORK_TEST_UPERF_IMAGE: "{{network_test_uperf_image}}"
  NETWORK_TEST_UPERF_SSHD_PORT: "{{network_test_uperf_sshd_port}}"
  NETWORK_TEST_UPERF_PORT_RANGE: "{{network_test_uperf_port_range}}"
  NETWORK_TEST_PREFIX: "{{network_test_prefix}}"
  NETWORK_TEST_PAIRS: "{{network_test_pairs}}"
  NETWORK_TEST_BASENAME: "{{network_test_basename}}"
  NETWORK_TEST_HOSTNETWORK: "{{network_test_hostnetwork}}"
  NETWORK_TEST_SERVICE: "{{network_test_service}}"
  NETWORK_TEST_TYPE: "{{network_test_type}}"
  NETWORK_TEST_RUNTIME: "{{network_test_runtime}}"
  NETWORK_TEST_MESSAGE_SIZES: "{{network_test_message_sizes}}"
  NETWORK_TEST_PROTOCOL: "{{network_test_protocol}}"
  NETWORK_TEST_INSTANCES: "{{network_test_instances}}"
  NETWORK_TEST_SAMPLES: "{{network_test_samples}}"
  NETWORK_TEST_CLEANUP: "{{network_test_cleanup}}"
  NETWORK_SSH_AUTHORIZED_KEYS: "{{pbench_ssh_public_key_file_slurp['content']}}"
  NETWORK_SSH_PRIVATE_KEY: "{{pbench_ssh_private_key_file_slurp['content']}}"
  NETWORK_SSH_PUBLIC_KEY: "{{pbench_ssh_public_key_file_slurp['content']}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
{% elif workload_job == "nodevertical" %}
  TOTAL_POD_COUNT: "{{total_pod_count.stdout|int}}"
  PBENCH_INSTRUMENTATION: "{{pbench_instrumentation|bool|lower}}"
  ENABLE_PBENCH_COPY: "{{enable_pbench_copy|bool|lower}}"
  NODEVERTICAL_TEST_PREFIX: "{{nodevertical_test_prefix}}"
  NODEVERTICAL_CLEANUP: "{{nodevertical_cleanup}}"
  NODEVERTICAL_BASENAME: "{{nodevertical_basename}}"
  NODEVERTICAL_MAXPODS: "{{nodevertical_maxpods}}"
  NODEVERTICAL_POD_IMAGE: "{{nodevertical_pod_image}}"
  NODEVERTICAL_STEPSIZE: "{{nodevertical_stepsize}}"
  NODEVERTICAL_PAUSE: "{{nodevertical_pause}}"
  NODEVERTICAL_TS_TIMEOUT: "{{nodevertical_ts_timeout}}"
  EXPECTED_NODEVERTICAL_DURATION: "{{expected_nodevertical_duration}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
  NODEVERTICAL_HEAVY_PROBE_ENDPOINT: "{{ nodevertical_heavy_probe_endpoint }}"
  NODEVERTICAL_HEAVY_PROBE_PERIOD: "{{ nodevertical_heavy_probe_period }}"
{% elif workload_job == "podvertical" %}
  PBENCH_INSTRUMENTATION: "{{pbench_instrumentation|bool|lower}}"
  ENABLE_PBENCH_COPY: "{{enable_pbench_copy|bool|lower}}"
  PODVERTICAL_TEST_PREFIX: "{{podvertical_test_prefix}}"
  PODVERTICAL_CLEANUP: "{{podvertical_cleanup}}"
  PODVERTICAL_BASENAME: "{{podvertical_basename}}"
  PODVERTICAL_MAXPODS: "{{podvertical_maxpods}}"
  PODVERTICAL_POD_IMAGE: "{{podvertical_pod_image}}"
  PODVERTICAL_STEPSIZE: "{{podvertical_stepsize}}"
  PODVERTICAL_PAUSE: "{{podvertical_pause}}"
  PODVERTICAL_TS_TIMEOUT: "{{podvertical_ts_timeout}}"
  EXPECTED_PODVERTICAL_DURATION: "{{expected_podvertical_duration}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
{% elif workload_job == "scale" %}
  PBENCH_INSTRUMENTATION: "{{pbench_instrumentation|bool|lower}}"
  ENABLE_PBENCH_COPY: "{{enable_pbench_copy|bool|lower}}"
  SCALE_TEST_PREFIX: "{{scale_test_prefix}}"
  SCALE_METADATA_PREFIX: "{{scale_metadata_prefix}}"
  SCALE_WORKER_COUNT: "{{scale_worker_count}}"
  SCALE_POLL_ATTEMPTS: "{{scale_poll_attempts}}"
  EXPECTED_SCALE_DURATION: "{{expected_scale_duration}}"
{% elif workload_job == "conformance" %}
  PBENCH_INSTRUMENTATION: "{{pbench_instrumentation|bool|lower}}"
  ENABLE_PBENCH_COPY: "{{enable_pbench_copy|bool|lower}}"
  CONFORMANCE_TEST_PREFIX: "{{conformance_test_prefix}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
{% elif workload_job == "deployments-per-ns" %}
  DEPLOYMENTS_PER_NS_TEST_PREFIX: "{{deployments_per_ns_test_prefix}}"
  DEPLOYMENTS_PER_NS_CLEANUP: "{{deployments_per_ns_cleanup}}"
  DEPLOYMENTS_PER_NS_BASENAME: "{{deployments_per_ns_basename}}"
  DEPLOYMENTS_PER_NS_COUNT: "{{deployments_per_ns_count}}"
  DEPLOYMENTS_PER_NS_POD_IMAGE: "{{deployments_per_ns_pod_image}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
{% elif workload_job == "namespaces-per-cluster" %}
  PBENCH_INSTRUMENTATION: "{{pbench_instrumentation|bool|lower}}"
  ENABLE_PBENCH_COPY: "{{enable_pbench_copy|bool|lower}}"
  NAMESPACES_PER_CLUSTER_TEST_PREFIX: "{{namespaces_per_cluster_test_prefix}}"
  NAMESPACES_PER_CLUSTER_CLEANUP: "{{namespaces_per_cluster_cleanup}}"
  NAMESPACES_PER_CLUSTER_BASENAME: "{{namespaces_per_cluster_basename}}"
  NAMESPACES_PER_CLUSTER_COUNT: "{{namespaces_per_cluster_count}}"
  EXPECTED_NAMESPACES_PER_CLUSTER_DURATION: "{{expected_namespaces_per_cluster_duration}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
{% elif workload_job == "services-per-namespace" %}
  PBENCH_INSTRUMENTATION: "{{pbench_instrumentation|bool|lower}}"
  ENABLE_PBENCH_COPY: "{{enable_pbench_copy|bool|lower}}"
  SERVICES_PER_NAMESPACE_TEST_PREFIX: "{{services_per_namespace_test_prefix}}"
  SERVICES_PER_NAMESPACE_CLEANUP: "{{services_per_namespace_cleanup}}"
  SERVICES_PER_NAMESPACE_BASENAME: "{{services_per_namespace_basename}}"
  SERVICES_PER_NAMESPACE_PROJECTS: "{{services_per_namespace_projects}}"
  SERVICES_PER_NAMESPACE_COUNT: "{{services_per_namespace_count}}"
  EXPECTED_SERVICES_PER_NAMESPACE_DURATION: "{{expected_services_per_namespace_duration}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
{% elif workload_job == "storage-fio" %}
  FIOTEST_CONTAINER_IMAGE: "{{fiotest_container_image}}"
  FIO_SSH_PORT: "{{fio_ssh_port}}"
  FIOTEST_SSH_AUTHORIZED_KEYS: "{{pbench_ssh_public_key_file_slurp['content']}}"
  FIOTEST_SSH_PRIVATE_KEY: "{{pbench_ssh_private_key_file_slurp['content']}}"
  FIOTEST_SSH_PUBLIC_KEY: "{{pbench_ssh_public_key_file_slurp['content']}}"
  AZURE_AUTH: "{{azure_auth|bool|lower}}"
{% elif workload_job == "prometheus-scale" %}
  PBENCH_INSTRUMENTATION: "{{pbench_instrumentation|bool|lower}}"
  ENABLE_PBENCH_COPY: "{{enable_pbench_copy|bool|lower}}"
  PROMETHEUS_CONCURRENCY: "{{prometheus_concurrency}}"
  PROMETHEUS_DURATION: "{{prometheus_duration}}"
  PROMETHEUS_GRAPH_PERIOD: "{{prometheus_graph_period}}"
  PROMETHEUS_REFRESH_INTERVAL: "{{prometheus_refresh_interval}}"
  PROMETHEUS_SCALE_TEST_PREFIX: "{{prometheus_scale_test_prefix}}"
{% endif %}
